 @import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');



/*index.jsp Code starts here*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

a{
    text-decoration: none !important;
    color:black !important;
}

body{
    background-color: #fff;
    height:100%;
    min-width:260px;
    min-height: 100vh;
}




@media only screen and (max-width:490px)
{
    .card{
        max-width:150px;
    }

}


main{
    position:absolute;
    top:120px;
    width:100vw;
    min-height: 100vh;
}

.prod-container{
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    padding:5px;
}



#lbl{
    font-weight: bolder;
}


@media only screen and (max-width:701px)
{
    main{
        position:absolute;
        top:180px;
    }
}


@media only screen and (max-width:515px)
{
    main{
        position:absolute;
        top:235px;
    }
}



@media only screen and (max-width:407px)
{
    main{
        position:absolute;
        top:285px;
    }
}


            /*index.jsp code ends here*/
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            /*Navbar Code starts here*/
            
            nav{
                position:fixed;
    width:100vw;
    top:0;
    z-index: 100;
            }
            
.mynavbar{
    background-color: #212529;
    padding:15px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    min-width:250px;
    
    
    
}

.logo{
    color:white;
    font-size: 25px;
}

.category{
    color:#939a97;
    margin-left:20px;
    margin-right: 10px;
}

.categorylist{
    list-style-type: none;
    border:2px solid #e1e1e2;
    border-radius: 5px;
    background-color: #ffffff;
    padding:10px 0px;
    min-width:160px;
    position:absolute;
    top:50px;
    left:200px;
    display:none;
    z-index:1000 !important;
    
}

.categorylistitem{
    padding:10px;
}
.categorylistitem a{
    width:100%;
}
.categorylistitem:hover{
    background-color: #e1e1e2;
    border-radius:4px;
}
#nav-category-checkbox{
    display:none;
}


#nav-category-checkbox:checked ~ .categorylist{
    display:block;
}

.search{
    display: inline-block;
    margin-left:auto;
    margin-right: 10px;
    min-width: 250px;
}

.searchbar{
    padding:10px;
    border-radius: 5px;
    min-width:200px;
}

.searchbtn{
    padding:10px;
    border-radius: 4px;
    border:1px solid #198754;
    color:#198754;
    background-color:#212529 ;
}

.searchbtn:hover{
    background-color: #198754;
    color:white;
}



.acc-btns{
    display:inline-block;
}


.below-bar{
    background-color: #f8f9fa;
    padding:10px;
    z-index:5;
}

.signup-btn,.login-btn,.logout-btn{
    text-decoration: none;
}

.signup-btn{
     color:#515f6b;
    padding:10px;
    border-radius: 4px;
    font-weight: bolder;
}

.login-btn{
    border: 1px solid #515f6b;
    color:#515f6b;
    padding:10px;
    border-radius: 4px;
    font-weight: bolder;
}

.signup-btn:hover,.login-btn:hover{
    background-color: #515f6b;
    color:white;
}

.logout-btn{
    color:red;
    border:1px solid red;
    padding:10px;
    border-radius: 4px;
}

.logout-btn:hover{
    background-color: red;
    color:white;
}



@media only screen and (max-width:654px)
{
    .acc-btns{
        margin-top: 10px;
    }
}


@media only screen and (max-width:515px)
{
    .search{
        width:100%;
    }

    .searchbar{
        width:80%;
    }

    .acc-btns{
        margin-top: 20px;
    }

    .category{
        display:none;
    }

    .categorylist{
        display:none !important;
    }

}



/* Common modal code starts */
.modal-body{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.modal-header{
    padding:15px;
}

.modal-body form{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding:10px;
    
}

.modal-footer{
    margin-top:20px;
}

#register-modal-checkbox,#login-modal-checkbox{
    display: none;
}

/* Common modal code ends */

/* Customer modal code starts */

.customer-modal-black-screen{
    width:100vw;
    height:100vmax;
    position:absolute;
    top:0;
    background-color: rgba(0,0,0,0.8);
    display:none;
    z-index:5;
}


.customer-register-modal{
    min-width:250px;
    max-width:33vw;
    min-height: 85vh;
    background-color: white;
    margin:auto;
    position:relative;
    top:80px;
    border-radius: 3px;
}

.customer-register-modal-body{
    height:80%;
}

.signup{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding:50px;
    height:80%;
    font-size: large;
}

.signup-input:focus{
    box-shadow: 0px 0px 80px  10px #e1e1e2 ;
}


.close-customer-modal-btn{
    float:right;
}


.signup-input{
    margin:auto;
    margin-top:15px;
    padding:10px;
    border:2px solid #e1e1e2;
    border-radius:5px;
    min-width:150px;
    
}

.terms{
    padding:15px 5px;
    text-align: center;
    width:100%;
}

#lbl{
    font-weight: bolder;
    color:black;
   

}

#close-register-modal-lbl{
    padding:10px 15px;
background-color: #6c757d;
color:white;
border-radius: 5px;
position:relative;
top:1px;}

#close-register-modal-btn{
    padding:10px;
}

#signup-submit-btn{
    padding:10px;
background-color: #5a9cfe;
color:white;
border-radius: 5px;
margin-left:10px;
border:0px;

}

#signup-email,#signup-mob,#signup-password{
    width:100%;
}

#signup-firstname,#signup-lastname{
    width:49%;
}

@media only screen and (max-width:1228px)
{
    .signup-input{
        width:100%;
    }
    
    #signup-firstname,#signup-lastname{
    width:100%;
}
}

#register-modal-checkbox:checked ~ .customer-modal-black-screen{
    display:block;
}

/* Customer modal code ends */


/* Login modal code begins */

.login-modal-black-screen{
    width:100vw;
    height:100vmax;
    position:absolute;
    top:0;
    background-color: rgba(0,0,0,0.8);
    display:none;
    z-index:5;
}





.login-modal{
    max-width:32vw;
    min-height: 45vh;
    min-width: 250px;
    color:black;
    background-color: white;
    margin:auto;
    position:relative;
    top:180px;
    border-radius: 3px;
    opacity:1;
    
}




.close-login-modal-btn{
    float:right;
}

#close-login-modal-lbl{
    padding:10px 15px;
    background-color: #6c757d;
    color:white;
    border-radius: 5px;
    position:relative;
    top:1px;
}


#login-submit-btn{
    padding:10px;
    background-color: #0d6efd;
    color:white;
    border-radius: 5px;
    margin-left:10px;
    border:0px;
}

#login-modal-checkbox:checked ~ .login-modal-black-screen
{
    display:block;
}


.login-input{
      margin:auto;
    margin-top:15px;
    padding:10px;
    border:2px solid #e1e1e2;
    border-radius:5px;
    min-width:150px;
}


#login-mob,#login-password{
    width:100%;
}


.login-input:focus{
    box-shadow: 0px 0px 80px  10px #e1e1e2 ;
    
}




/* Login modal code ends */
            
            
            /*Navbar Code ends here*/

            
            
            
            /*Siderbar code starts here*/
            
            

*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

a{
    text-decoration:none;
    color:black;
}

.myoffcanvas{
    height:100%;
    width:25vw;
    min-width: 250px;
    background-color: aqua;
    z-index: 20000000;
    position:fixed;
    top:0;
    left:-100%;
    transition-duration: .6s;
    
    
}


.sidebar{
    padding:15px;
    background-color: #f8f9fa;
    width:100%;
    height: 100%;
}

.sidehead{
    padding:15px;
}


.sideclosebtn{
    width:25px;
    height:25px;
}
.greeting{
    padding:15px;
    text-align: center;
    font-size: 30px;
    font-family: 'KoHo', sans-serif;
    
    
}

@media only screen and (max-width:1500px) {

.greeting{
    font-size:20px ;
    font-weight: bolder;
}
    
}

.sidemain{
    height:65%;
}

.sidelist{
    list-style-type: none;
    padding:20px 0px;
}

.sidelistitem{
    font-size: large;
    padding:10px 30px;

}

.sidelistitem:active{
    background-color: #0d6efd;
    color:white;
}

.sidelistitem:hover{
    background-color: #ffffff;
    border-radius:5px;
}

#sideclosecheckbox{
    display:none;
}

#sideclosecheckbox:checked ~ .myoffcanvas{
    left:0;
}

.sidefooter{
   
   height: 60px;
   padding:10px;
}

.sidebardp{
    background-color: aqua;
    border-radius: 50%;
    width:50px;
    height:50px;
    padding:5px;
    text-align: center;
    object-fit:contain;
}

.sidebarusername{
   
    padding:5px;
    text-align: center;
    font-family: 'Paytone One', sans-serif;

}

.sideuserlist{
   position:relative;
   bottom:210px;
   left:50px;
    max-width: 120px;
    border:2px solid #e1e1e2;
    border-radius: 5px;
    background-color: #ffffff;
    padding:10px 0px;
    min-width:160px;
    display: none;
    
}

.sideuserlist ul{
    list-style-type: none;
    padding-left: 0px !important;
}

.sideuserlistitem{
    padding:8px;
}

.sideuserlistitem:hover{
    background-color: #e1e1e2;
}

#sidebarusercheckbox{
    display:none;
}
#sidebarusercheckbox:checked ~ .sideuserlist{
    display: block;
}


            
            
            
            /*Sidebar Code ends here*/
            
           