<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerRegistrationServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.CustomerRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantRegistrationServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.MerchantRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantBusinessDetailsSubmissionServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.MerchantBusinessDetailsSubmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCategoryServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.RemoveCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.BlockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnblockUserServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.UnblockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductDetailsServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.UpdateProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountAllProductsServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.DiscountAllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountProductServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.DiscountProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.mycompany.winkelweb.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerRegistrationServlet</servlet-name>
        <url-pattern>/CustomerRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantRegistrationServlet</servlet-name>
        <url-pattern>/MerchantRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantBusinessDetailsSubmissionServlet</servlet-name>
        <url-pattern>/MerchantBusinessDetailsSubmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCategoryServlet</servlet-name>
        <url-pattern>/RemoveCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/BlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnblockUserServlet</servlet-name>
        <url-pattern>/UnblockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductDetailsServlet</servlet-name>
        <url-pattern>/UpdateProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountAllProductsServlet</servlet-name>
        <url-pattern>/DiscountAllProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountProductServlet</servlet-name>
        <url-pattern>/DiscountProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
